{% extends "base.html" %}

{% block content %}
    
    <div class="row" id="home">
    	<div class="six columns centered">
			    		
		    <h1 class="center">GrandSentral</h1>

		    <form action="#" method="post" class="nice">
		    	<div>
		    		<label for="email_from">From Email:</label>
		    		<input type="text" name="email_from" id="email_from" placeholder="From: cool@dude.com" tabindex="1" class="input-text" />
		    	</div>

		    	<div>
		    		<label for="name">Recipients:</label>
		    		<input type="text" name="" id="" placeholder="To: cool@dude.com" tabindex="1" class="input-text" />
		    	</div>
		    	
		    	<div>
		    		<label for="email_body">Email Body</label>
		    		<textarea cols="40" rows="8"name="email_body" id="email_body" placeholder="Hey @FirstName"></textarea>
		    	</div>

		    	<div>
		    		<input type="submit" value="Submit" class="nice large blue button" />
		    	</div>
		    </form>

    	</div>
    </div>
	
{% endblock %}