{% extends "base.html" %}

{% block content %}
    
    <div class="container" id="home">
	    <div class="row">
	    	<div class="six columns centered" id="letterbox">
			
				<img src="/static/img/paperplane.png" alt="GrandSentral paper plane" id="paperplane">
	    		<div id="redline"></div>

			    <h1 id="title" class="center"><a href="{% url home %}">GrandSentral</a></h1>

			    <form action="/send" method="post" class="nice">{% csrf_token %}
			    	<div id="frombox">
			    		<span class="context">From</span>
			    		<input type="text" name="email_from_name" class="input-text name" placeholder="Name"/>
			    		<input type="text" name="email_from_email" class="input-text email" placeholder="Email"/>
			    	</div>

			    	<div id="tobox">
			    		<span class="context">To</span>
			    		<input type="text" name="email_recipients_name" class="input-text name" placeholder="Name"/>
			    		<input type="text" name="email_recipients_email" class="input-text email" placeholder="Email"/>
			    	</div>

			    	<div id="subjectbox">
			    		<span class="context">Subject</span>
			    		<input type="text" name="email_subject" class="input-text" />
			    	</div>
			    	
			    	<div id="emailbox">
			    		<label for="email_body">Email Body</label>
			    		<textarea cols="40" rows="8"name="email_body" id="email_body">Hi *|First Name|*</textarea>
			    	</div>

			    	<div id="submitbox">
			    		<input type="submit" value="Send" class="nice large blue button" />
			    	</div>
			    </form>

	    	</div>
	    </div>
	</div>
	
{% endblock %}